h3{
    color:rgb(170, 170, 170);
}
.container-book , .srch{
    background-color: rgb(238, 238, 238);
}
h2{
    padding-bottom: 10px;
}
p{
    font-weight: bold;
    padding-top: 7px;
}
footer p{
    color: rgb(170, 170, 170);
    font-size: 14px;
}
.btns:hover{
    box-shadow: 5px 5px 8px rgb(0,0,0,0.6);
}
.markers{
    background-image: linear-gradient(rgb(238, 238, 238),#fff);
}